@font-face {
    font-family: "PostGrotesk-Book";
    src: url("../fonts/PostGrotesk/PostGrotesk-Book.woff") format("woff"),
         url("../fonts/PostGrotesk/PostGrotesk-Book.ttf") format("ttf"),
         url("../fonts/PostGrotesk/PostGrotesk-Book.svg") format("svg");
}

@font-face {
    font-family: "PostGrotesk-Medium";
    src: url("../fonts/PostGrotesk/PostGrotesk-Medium.woff") format("woff"),
         url("../fonts/PostGrotesk/PostGrotesk-Medium.ttf") format("ttf"),
         url("../fonts/PostGrotesk/PostGrotesk-Medium.svg") format("svg");
}

.btn:hover {
    border: none;
}

html,
body {
    background-color: #F5F7F6 !important;
    min-height: 100vh;
    font-family: "PostGrotesk-Book", sans-serif !important;
    z-index: 1;
    box-shadow: 0 0 30px 0 rgba(54, 69, 79, 0.86)
}

body {
    margin-bottom: 385px !important;
}

a {
    font-family: PostGrotesk-Medium, sans-serif;
    font-size: 18px;
    color: #5CDB94;
    letter-spacing: 0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #474866;
}

small {
    opacity: 0.75;
	font-family: "PostGrotesk-Book";
	font-size: 13px;
	font-weight: 500;
	line-height: 1.92;
    align-self: flex-start;
	color: #494949;
}

.navigation__background--scroll {
    height: 90px;
    border-bottom: 1px solid gray;
    background-color: #ffffff;
    transition: height 1s ease-in-out;
}
.navigation__background--top {
    height: 120px;
}

.navigation__background--scroll .navbar {
    min-height: 100% !important;
    transition: height 1s ease;
}

.navigation .navbar {
    min-height: 120px;
    transition: height 1s ease-in-out;
}
.navigation .navbar-brand {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.navigation .navbar-collapse {
    flex-grow: 0;
}
.navigation__name {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2B2A2A;
}
.navigation__name--title {
    margin-bottom: 2px;
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 21px;
	font-weight: 500;
	text-align: left;
    color: #2B2A2A;
}
.navigation__name--subtitle {
    margin-bottom: 0;
    opacity: 0.75;
	font-family: "PostGrotesk-Book", sans-serif;
	font-size: 15px;
	line-height: 1.0;
	text-align: left;
	color: #2B2A2A;
}
.navigation__link {
    width: 120px;
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 15px;
	font-weight: 500;
    text-align: left;
    color: #314F7A;
}
.navigation__link a {
    color: #314F7A;
}
.navigation__link a:hover {
    /* color: #5cdb94 !important;
    text-decoration: none !important; */
}

@media (max-width: 990px) {
    .navigation .navbar-brand {
        flex-grow: 0;
    }
    .navigation__link {
        margin-left: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .navigation__background--top {
        background-color: rgba(127,68,223, 0.85);
        background-image: url('../images/bg.svg');
        background-repeat: repeat;
        height: auto !important;
    }
    .navigation__background--top .navbar {
        min-height: 100% !important;
        transition: height 1s ease;
    }
    .navigation__background--scroll {
        height: auto;
    }

}

.hero {
    z-index: 1;
    background-color: white;
}
.hero__contents {
    margin-top: 100px;
}
.hero__contents .container,
.hero__contents .row {
    height: 100%;
    padding-bottom: 50px;
}
.hero__contents .row {
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.hero__contents--text {
    padding: 20px;
    color: #ffffff;
}

.hero__contents--image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__contents .row .title {
    max-width: 400px;
    font-size: 26px;
	font-weight: 500;
	line-height: 1.19;
	text-align: left;
    color: #314F7A;
    font-family: "PostGrotesk-Medium", sans-serif;
}
.hero__contents--text .btn {
    width: 220px;
    height: 45px;
    background: #2E97FF;
    border: 1px solid rgba(199,206,209,0.12);
    border-radius: 10px;
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.15;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
}

.hero__contents .row .description {
    opacity: 0.75;
	font-family: "PostGrotesk-Book", sans-serif;
	font-size: 17px;
	line-height: 1.41;
	text-align: left;
    color: #97A6BC;
    max-width: 400px;
    margin-bottom: 2rem;
}

.hero__contents--slogan {
    width: 100%;
    font-family: PostGrotesk-Book, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.41;
	text-align: left;
    color: #314F7A;
    margin-top: 2rem;
}

@media (max-width: 990px) {
    .hero__row {
        height: auto;
        max-height: 1200px;
    }
    .hero__contents--text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero__contents .title {
        text-align: center !important;
    }
    .hero__contents--text .description {
        text-align: center !important;
    }
    .hero__contents--slogan {
        text-align: center;
    }
}


.cta {
    margin-top: -100px;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 2;
    background-color: #314F7A;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 5px 16px 0 rgba(230, 235, 238, 0.67);
}

.cta__contents img {
    width: 100%;
}
.cta__contents .row {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 80px;

}
.cta__contents--block {
    margin-bottom: 50px;
}
.cta__contents--header {
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 1.36;
	text-align: left;
	color: #ffffff;
}

.cta__contents--text {
    font-family: "PostGrotesk-Book", sans-serif;
	font-size: 18px;
	text-align: left;
    opacity: 0.9;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 25px;
}
.cta__contents--link {
    color: #7FBEFF;
}
.cta__contents--calloutheader {
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 1.2;
	text-align: left;
	color: #ffffff;
}

.partnership__line {
    width: 100%;
    margin: 10px 0;
    padding: 0;

}

.partnership {
    margin-top: 0;
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 2;
    background-color: #D5DBE5;
    border-radius: 0;
    box-shadow: 0 5px 0 0 rgba(230, 235, 238, 0.67);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E1DFE6;
}

.partnership__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.partnership__block--text {
    text-align: center;
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.67;
	text-align: center;
	color: #314F7A;
}

.partnership__block img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.apply {
    margin-top: 0;
    padding-top: 0;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 2;
    background-color: #FFFFFF;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 16px 0 rgba(230, 235, 238, 0.67);;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.apply__block {
    max-width: 520px !important;
    text-align: center;
}

.apply__block--header {
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 1.24;
	text-align: center;
    color: #314F7A;
    margin-bottom: 12px;
}
.apply__block--text {
    font-family: "PostGrotesk-Book", sans-serif;
    opacity: 0.75;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	color: #494949;
}

.research {
    margin-top: 60px;
}
.research__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.research__header--text {
    text-align: center;
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 26px;
	font-weight: 500;
	line-height: 1.19;
    color: #314F7A;
    margin-bottom: 20px;
}

.research__options {
    min-height: 200px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
}
.research__options--box {
    min-width: 180px;
    min-height: 200px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
	background-color: #ffffff;
    box-shadow: 0 5px 16px 0 rgba(230, 235, 238, 0.67);

}
.research__options--icon {
    margin-bottom: 20px;
}
.research__options--text {
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.33;
	text-align: center;
    color: #494949;
    margin: 0;
    padding: 0;
}

.form {
    padding: 40px;
    max-width: 800px !important;
    display: block;
    justify-content: center;
    align-items: center;
}

.form .error {
    border: 1px solid red;
}

.form__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.form__block--header {
    font-family: "PostGrotesk-Medium", sans-serif;
	font-size: 26px;
	font-weight: 500;
	line-height: 1.19;
	text-align: center;
    color: #474866;
    margin-bottom: 1rem;
}
.form__block--text {
    margin: 0;
    padding: 0;
    opacity: 0.75;
	font-family: "PostGrotesk-Book", sans-serif;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	color: #494949;
}

.form__block--small {
    margin-top: 2rem;
}

.form .more-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 100%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.75;
}

.form .more-projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .upload_resume_btn,
.form .upload_resume_btn:active,
.form .upload_resume_btn:hover,
.form .upload_resume_btn:focus {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-family: "PostGrotesk-Book", sans-serif;
    border-radius: 8px;
    background-color: rgba(49,79,122,.75);
    color: #fff;
    border: solid 1px rgba(199, 206, 209, 0.12);
    text-transform: uppercase;
    font-size: 13px;
}


.form input,
.form input:active,
.form input:hover,
.form input:focus {
    height: 45px;
	background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(137, 127, 154, 0.24);
    opacity: 0.75;
	font-family: "PostGrotesk-book";
	font-size: 16px;
	line-height: 1.56;
	text-align: left;
    color: #494949;
    border-radius: 8px;
    border: none;
}

.form select,
.form select:active,
.form select:hover,
.form select:focus {
    text-transform: uppercase;
    font-size: 13px;
	font-weight: 500;
	line-height: 1.15;
	letter-spacing: 1px;
    font-family: "PostGrotesk-Book";
    height: 45px !important;
    border-radius: 8px;
    border: none;
    background-color: rgba(49,79,122,.75);
    color: #fff;
    border: solid 1px rgba(199, 206, 209, 0.12);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('../images/carat-sm.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: calc(100% - 10px)
}
.form__submit {
    margin-top: 4rem;
}
.form__submit--btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__submit--btn .submit-error {
    color: red;
}
.form .upload_button {
    display: flex;
    align-items: center;
}
.form .upload_button small {
    margin-left: 1rem;
    align-self: center;
}
.form .form-group {
    margin-bottom: 35px;
}

.hidden {
    display: none;
}

.form .hidden {
    display: none;
}

.form label {
	opacity: 0.75;
	font-family: "PostGrotesk-Book";
	font-size: 13px;
	font-weight: 500;
	line-height: 1.92;
	text-align: left;
    color: #494949;
    margin-bottom: 5px;
}

.form button {
    text-transform: uppercase;
    font-family: "PostGrotesk-Book";
	font-size: 13px;
    width: 220px;
    height: 45px;
	border-radius: 8px;
	background-color: #2E97FF;
	border: solid 1px rgba(199, 206, 209, 0.12);
}

/* .form button:hover,
.form button:active,
.form button:focus {
    color: #5cdb94;
    background-color: #fff;
    transition: color 1s ease, background-color 1s ease;
    border: 1px solid #5cdb94;
} */
@media (max-width: 580px) {
    .row {
        margin-bottom: 0 !important;
    }
    .row div {
        margin-bottom: 35px;
    }
    .form .carat {
        display: none;
    }
}

#submitNotice {
    background-color: #5cdb94;
    color: #fff;
    font-family: "PostGrotesk-Book";
    font-size: 12pt;
}
#resetForm {
    color: #fff;
    text-decoration: underline;
    font-family: "PostGrotesk-Book";
    font-size: 16pt;
}

.faq {
    padding: 60px;
}

.faq__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    margin-bottom: 60px;
}
.question__block {
    padding: 0 !important;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(199,206,209,0.12);
    border-radius: 8px 8px 8px 8px 0;
    margin: 0 12px 2rem 12px;
}

.question__block--heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    min-height: 45px;
	background-color: rgba(49,79,122,.75);
    border: solid 1px rgba(199, 206, 209, 0.12);
    cursor: pointer;
}
.question__block--heading_text {
	font-family: PostGrotesk-Book, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: left;
    color: #ffffff;
    margin: 0;
    padding: 0;
    flex-grow: 1
}
.question__block--body {
    max-height: 0;
    overflow: auto;
    /* display: none; */
    transition: max-height 1s ease;
}
.open {
    max-height: 380px;
}
.question__block--body_text {
    font-family: PostGrotesk-Book, sans-serif;
    font-size: 18px;
    color: #4A4A4A !important;
    letter-spacing: 0;
    line-height: 25px;
    margin: 0;
    padding: 2rem 4rem;
    opacity: 0.8;
}
.flip {
    transform: rotate( -180deg );
    transition: transform 150ms ease;
}
.flip-reverse {
    transform: rotate( 0deg );
    transition: transform 150ms ease;
}

.terms__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.terms__block--link {
    /* Terms and Conditions: */
    font-family: PostGrotesk-Medium, sans-serif;
    font-size: 18px;
    color: #2E97FF !important;
    letter-spacing: 0;
    line-height: 31px;
}
.terms__block--link:hover,
.terms__block--link:active {
    text-decoration: underline;
}

.footer {
    height: 385px;
    padding: 40px;
    background-color: #2D343E;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.footer .row {
    height: 100%;
}

.footer__left_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__left_block--logo_container {
    flex-grow: 1;
    padding-top: 20px;
}
.footer__left_block--address {
    opacity: 0.4;
	font-family: PostGrotesk-Book, sans-serif;
	font-size: 15px;
	line-height: 1.67;
	text-align: left;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.footer__right_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.footer__right_block--header_container {
    height: 40px;
}

.footer__right_block--header_text {
    opacity: 0.6;
	font-family: PostGrotesk-Book, sans-serif;
	font-size: 15px;
	text-align: left;
	color: #ffffff;
}

.footer__right_block--link {
    font-family: PostGrotesk-Book, sans-serif;
	font-size: 15px;
	line-height: 1.6;
	text-align: left;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    min-height: 32px;
}

.footer__right_block--link:hover {
    color: #2E97FF;
}
.footer__right_block--link:active {
    color: #2E97FF;
}

.footer__right_block--link span {
    margin-left: 10px;
}

.footer__right_block--header_select {
   background: transparent;
   border: none;
   color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('../images/carat-sm.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    cursor: pointer;
}

@media (max-width: 640px) {
    html, body {
        margin-bottom: 0 !important;
    }
    .footer {
        position: inherit;
        height: auto;
    }
}