@font-face {
  font-family: 'PostGrotesk-Book';
  src: url('/fonts/PostGrotesk-Book.ttf') format('truetype'),
       url('/fonts/PostGrotesk-Book.woff') format('woff'),
       url('/fonts/PostGrotesk-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PostGrotesk-Medium';
  src: url('/fonts/PostGrotesk-Medium.ttf') format('truetype'),
       url('/fonts/PostGrotesk-Medium.woff') format('woff'),
       url('/fonts/PostGrotesk-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}